body { width: 100%; height:100%; min-height: 100%; margin: 0; font:12px arial; color: #222; padding:0; position: relative;}
body[orient="portrait"]
textarea {width: 100%; margin-bottom: 10px;} 
select{width:100%;box-sizing:border-box; margin-bottom:5px;}
label {margin-bottom: 0px; color: orange; font-weight: bold;}
legend {background-color: orange; color: white; font-weight: bold; margin: 10px;}
input { width:100%; margin-bottom: 10px;margin-top: 5px; box-sizing:border-box; font:12px arial;}
.required:after { content:" *"; }  
button{
	background-color: rgb(235, 235, 235);
    font-weight: bold;
    padding: 4px 20px;
    border-radius: 7px;
    border-width: 1.1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-image: initial;
    margin: 5px;
}
img{ width: 100%;}

#footer{
position:absolute;
bottom: 0;
width: 100%;
}

#header img{
height: 105px;
}

input[type=submit]
{
	width:20%;
	float:right;
}

form, p, span {
    margin:0;
    padding:0; }
 
.chat_form{
	margin: 0;
	padding:0;
}

.input-disabled{background-color:#EBEBE4;border:1px solid #ABADB3;padding:2px 1px;}
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }

#prechat{ width: 30%;} 
#chat{
    background:rgb(213, 228, 230);
    width:30%;
    border:1px solid #ACD8F0;
    box-sizing:border-box;
    padding:15px;
    }
  
#chatbox {
    text-align:left;
    margin-bottom:15px;
    padding:10px;
    background:#fff;
    height:200px;
    border:1px solid #ACD8F0;
    overflow-y:scroll; }
    
 #chatbox li {
 list-style:none;
 }
#usermsg
{
	height:80px;
	width: 100%;
	border:1px solid #ACD8F0;
	overflow-y:scroll;
	margin-bottom:15px;
}
  
#submit { width: 60px; }
 
.chat_screen { float:left;}

.welcome-text{
	float: left;
}
.welcome-text p{
	padding: 0;
	margin: 5px 0;
	color: #0574ac;
}
.welcomeATT{
	font-size: 16px;
	font-weight: bold;
}

.prechat-form
{
	padding: 20px;
	border: 1px solid black;
	height: 60%;
	background-color: #d5e4e6;
}
.prechat-form h2
{
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
}
.status{
	width: 30%;
	height: 70px;
	color: black;
	background-color: #ebebeb;
	clear:both;
	font-size: 14px; 
	font-weight: bold;
	text-align:center;
	padding-top: 20px;
	box-sizing: border-box;
}

.success{color: green;}
.warning{color: darkorange;}
.error{ color: #ff0000;}

.chatbox li{
	list-style: none;
	clear:both;
}

.chatbox li img {
	width: 40px;
	height : 40px;
	margin-right: 10px;
	float: left;
	box-sizing: border-box;
}

.tech_img
{
	margin-left: 10px;
    margin-bottom: 5px;
}

.chatbox .chatmsg{
	width : 80%;
	height: auto;
	border: 2px solid #b9d2d6;
	border-radius: 7px;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	margin-bottom: 15px;
	box-sizing: border-box;
	position: relative;
	background-color: #b9d2d6;
	word-wrap: break-word;
}

.msg-limit
{
	font-size:14px;
	font-weight:bold;
}

.chatbox .chatmsg:after{
	content: '';
	position: absolute;
	height: 0;
	width:0;
	right: 100%;
	top: 10%;
	border: 9px solid transparent;
	border-right-color: #b9d2d6;
	z-index: 100;
	
}

.chatbox .chatmsg.response{
	border: 2px solid #f5cba7;
	background-color:  #f5cba7;
}
.chatbox .chatmsg.response:after{
	content: '';
	position: absolute;
	height: 0;
	width:0;
	left: 100%;
	top: 10%;
	border: 9px solid transparent;
	border-left-color: #f5cba7;
	z-index: 100;
}

.chat 
{
    display: inline-flex;
    width: 100%;
    padding: 5px;
    background-color: #ebebeb;
}

.msgln { margin:0 0 2px 0; }

.msgBot{ background-color: lightblue; color: red; font-weight:bold;font-size: larger; margin-top:15px;}
.csiMsg{ background-color: #F5F5F5; color: #808080; font-weight:bold;font-size: larger; margin-top:15px;}
.msgMe{ background-color: lightgreen; color: blue; font-weight:bold;font-size: larger; margin-top:15px;}
.chat-buttons{  text-align: center; margin-top: 10px; margin-bottom: 10px;}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.done-btn {
    float: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20%;
    top: 40%;
    width: 25%; /* Full width */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}